@import "./mixin";

.season-container {

 .layout-width {
  background-color: tan;
 }

 .season {
  @include flexBox();

  width: 402px;
  height: 397px;
  
  &__description-text1 {
   color: #A37356;
   font-size: 40px;
   text-transform: uppercase;
  }
  &__description-text2 {

  }

 }//---------- season END
}